{
  "credentials": [
    {
      "credentialId": "Microsoft.SqlTools|itemtype:Mru|server:mssql|db:master|user:sa",
      "password": "__PASSWORD__"
    },
    {
      "credentialId": "Microsoft.SqlTools|itemtype:Profile|server:mssql|user:sa",
      "password": "__PASSWORD__"
    }
  ]
}
